@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,800;1,400;1,800&display=swap');


.postContent {
  font-family:'Nunito',sans-serif ;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
  /* Headings */

  .postContent h1 {
    font-size: 60px;
    font-weight:lighter;
    margin-top: 0;
  }

 .postContent h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }

 .postContent h3 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
  }

  /* Paragraphs */

 .postContent p {
    margin-top: 10px;
  }

  /* Images */

  .postContent img {
    max-width: 100%;
    height: auto;
  }

  /* Links */

  .postContent a {
    color: #000;
    text-decoration: none;
  }

 .postContent a:hover {
    color: #333;
  }

.postContent pre {
  background:black;
  color:rgba(200, 200, 200, .9);
  width: 100%;
  padding:30px;
  border-radius: 10px;
 
}
.postsContent img{
  border-radius: 0.25rem; /* Adjust the value to achieve the desired amount of rounding */
  object-fit: cover;
  width:100%;
}
.postContent blockquote{
  border-left: rgb(126, 61, 24);
  border-left-width: 5px;
  background-color: rgba(156, 86, 19, 0.322);
}

.postcontent > .ql-align-right {
	text-align: right;
}
.postcontent > .ql-align-center {
	text-align: center;
}
.postcontent > .ql-align-left {
	text-align: left;
}